
{% layout 'layout.liquid'%}
{% block content %}

<div>
    <h2 class="display-6">Data Samples</h2>
 
        <div class="accordion-container">
            <div class="accordion" id="allSets">
                {% for set in allSets %}

                    {% if set.mean %}
                        {% assign type = 'normalsets' %}
                    {% else %}
                        {% assign type = 'binomsets' %}
                    {% endif %}

                    <div class="accordion-item">
                        <h5 class="accordion-header">
                            <button class="accordion-button" type="button" data-toggle="collapse" data-target="#{{ set.id }}"> {{ set.title }} </button>
                        </h5>
                        <div id={{ set.id }} class="accordion collapse">
                            <div class="accordion-body">
                                <h5 class="card-title">
                                    size: {{ set.n }}
                                </h5>
                                <a href="/{{ type }}/{{ set.id }}" class="btn btn-info">
                                    View {{ set.title }}
                                </a>
                            </div>
                        </div>
                    </div>
                
                {% endfor %}
            </div> 
        </div>
 
</div>
{% endblock %}
