
{% layout 'layout.liquid'%}
{% block content %}

<div>
    <h2 class="display-6">Data Samples</h2>
    <div class="row">

        {% for set in allSets %}

            {% if set.mean %}
                {% assign type = 'normalsets' %}
            {% else %}
                {% assign type = 'binomsets' %}
            {% endif %}

            <div class="card" style="width: 18rem;">
                <h5 class="card-header">{{ set.title }}</h5>
                <div class="card-body">
                    <h5 class="card-title">
                        size: {{ set.n }}
                    </h5>

                    <a href="/{{ type }}/{{ set.id }}" class="btn btn-info">
                        View {{ set.title }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
